<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.online_exam_sys.dao.teacher.TLogMapper">
    <insert id="saveLog">
        INSERT INTO syslog VALUES(NULL, #{logUserId}, #{logContent}, #{logCreatedTime})
    </insert>

    <select id="selectLog" resultType="com.xin.online_exam_sys.pojo.vo.teacher.res.TLogListResVO">
        SELECT
            log.log_id AS logId,
            log.log_user_id AS logUserId,
            s.stu_name AS logUserName,
            c.class_name AS logUserClass,
            log.log_content AS logContent,
            SUBSTRING_INDEX(DATE_FORMAT(log.log_created_time, '%Y-%m-%d %H:%i:%s'), '.', 1) AS logTime
        FROM
            syslog log
            LEFT JOIN student s ON s.stu_id = log.log_user_id
            LEFT JOIN class c ON c.class_id = s.class_id
        WHERE
            s.stu_id IN (
               SELECT DISTINCT(s.stu_id)
               FROM
                   teacher_class_course tcc
                   LEFT JOIN student s ON s.class_id = tcc.class_id
               WHERE
                   tcc.t_id = #{tId}
            )
        ORDER BY
            log.log_created_time DESC
    </select>
</mapper>