<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.online_exam_sys.dao.teacher.TPaperMapper">
    <insert id="insertPaper" useGeneratedKeys="true" keyProperty="paperId">
        INSERT INTO paper
        VALUES (NULL, #{paper.paperName}, #{paper.courseId}, #{paper.paperType},
                #{paper.paperObjectiveNum}, #{paper.paperSubjectiveNum},
                #{paper.paperSumNum}, #{paper.paperSuggestTime}, #{paper.paperStartTime}, #{paper.paperEndTime},
                #{paper.paperCreatedTime}, #{paper.paperCreatedUser});
    </insert>

    <insert id="insertPaperQuestionList">
        INSERT INTO paper_question
        VALUES
        <foreach collection="questionIds" item="questionId" separator=",">
            (NULL, #{paperId}, #{questionId})
        </foreach>
    </insert>

    <select id="selectCourseOptions"
            resultType="com.xin.online_exam_sys.pojo.vo.teacher.TSelectOptionVO">
        SELECT DISTINCT c.course_name AS "label",
                        c.course_id   AS "value"
        FROM course c
                 JOIN
             teacher_class_course tcc on c.course_id = tcc.course_id
        WHERE t_id = #{tId};
    </select>

    <select id="selectQuestions"
            resultMap="questionResultMap">
        SELECT *
        FROM question q
                 LEFT JOIN
             `option` o on q.q_id = o.q_id
        WHERE q.q_id = COALESCE(#{questionId}, q.q_id)
          AND q.q_type = #{questionType}
          AND q.course_id = #{courseId}
        ORDER BY o.option_order;
    </select>

    <select id="selectPaperList" resultType="com.xin.online_exam_sys.pojo.vo.teacher.res.TPaperListResVO">
        SELECT
            p_id AS "paperId",
            p_name AS "paperName",
            course_name AS "courseName",
            SUBSTRING_INDEX(DATE_FORMAT(p_created_time, '%Y-%m-%d %H:%i:%s'), '.', 1) AS "createTime",
            t_name AS "createUser"
        FROM paper p
            LEFT JOIN course c on p.course_id = c.course_id
            LEFT JOIN teacher t on t.t_id = p.p_created_user
        WHERE
            p.p_id = COALESCE(#{paperId}, p.p_id)
        AND p.course_id = COALESCE(#{courseId}, p.course_id);
    </select>

    <select id="selectQuestionTypeByPaperId" resultType="java.lang.Integer">
        SELECT DISTINCT q.q_type
        FROM
            paper_question pq
            LEFT JOIN question q on q.q_id = pq.q_id
        WHERE
            pq.p_id = #{paperId}
        ORDER BY q.q_type;
    </select>

    <select id="selectQuestionByType"
            resultType="java.lang.Long">
        SELECT pq.q_id
        FROM paper_question pq
            LEFT JOIN question q on q.q_id = pq.q_id
        WHERE
            q.q_type = #{questionType}
        AND pq.p_id = #{paperId};
    </select>

    <select id="selectQuestionDetail"
            resultMap="questionResultMap">
        SELECT *
        FROM question q
            LEFT JOIN `option` o on q.q_id = o.q_id
        WHERE q.q_id IN
        <foreach collection="questionIds" item="questionId" separator="," open="(" close=")">
            #{questionId}
        </foreach>
    </select>

    <select id="selectPaperDetail" resultType="com.xin.online_exam_sys.pojo.vo.teacher.TPaperAddFormVO">
        SELECT
            course_id AS "courseId",
            p_type AS "paperType",
            SUBSTRING_INDEX(DATE_FORMAT(p_start_time, '%Y-%m-%d %H:%i:%s'), '.', 1) AS "startTime",
            SUBSTRING_INDEX(DATE_FORMAT(p_end_time, '%Y-%m-%d %H:%i:%s'), '.', 1) AS "endTime",
            p_name AS "paperName",
            p_suggest_time AS "suggestTime"
        FROM paper
        WHERE
            p_id = #{paperId};
    </select>

    <resultMap id="questionResultMap" type="com.xin.online_exam_sys.pojo.vo.teacher.TPaperAddFormQuestionItemsVO">
        <id column="q_id" property="questionId"/>
        <result column="q_content" property="content"/>
        <collection property="items" ofType="com.xin.online_exam_sys.pojo.vo.teacher.TQuestionOptionVO">
            <result column="q_id" property="questionId"/>
            <result column="option_content" property="content"/>
            <result column="option_order" property="order"/>
        </collection>
    </resultMap>
</mapper>