<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.online_exam_sys.dao.teacher.TeacherPaperMapper">

    <select id="selectCourseOptions"
            resultType="com.xin.online_exam_sys.pojo.response.teacher.TSelectOptionResVO">
        SELECT DISTINCT c.course_name AS "label",
                        c.course_id   AS "value"
        FROM course c
                 JOIN
             teacher_class_course tcc on c.course_id = tcc.course_id
        WHERE t_id = #{tId};
    </select>

    <select id="selectQuestions"
            resultMap="questionResultMap">
        SELECT *
        FROM question q
                 LEFT JOIN
             `option` o on q.q_id = o.q_id
        WHERE q.q_id = COALESCE(#{questionId}, q.q_id)
          AND q.q_type = #{questionType}
          AND q.course_id = #{courseId}
        ORDER BY o.option_order;
    </select>

    <resultMap id="questionResultMap" type="com.xin.online_exam_sys.pojo.response.teacher.TPaperAddQuestionTableResVO">
        <id column="q_id" property="questionId"/>
        <result column="q_content" property="content"/>
        <collection property="items" ofType="com.xin.online_exam_sys.pojo.response.teacher.TQuestionOptionResVO">
            <result column="q_id" property="questionId"/>
            <result column="option_content" property="content"/>
            <result column="option_order" property="order"/>
        </collection>
    </resultMap>
</mapper>